/* ===== COLORS ===== */
$black: #111111;
$white: #F6F6F6;

$primary: #F55736;
$primary-dark: #823322;
$secondary: #5736F5;

/* ===== SCREEN WIDTH ===== */
$small-screen: 370px;
$medium-screen: 650px;
$large-screen: 1000px;
$x-screen: 1280px;
$xx-screen: 1440px;

/* ===== SPACING ===== */
$gutter: 24px;